<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      {% include header.html %}
      <div class="content-wrapper">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
  <!--   To add a toggle for light theme -->
  <!-- _includes/head.html -->
  <script>
  // Check saved preference or system default
    const storedTheme = localStorage.getItem('theme') || 
      (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
  
  // Apply theme
    document.documentElement.setAttribute('data-theme', storedTheme);
  </script>
</html>
